* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	vertical-align: middle;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.text-center {
	text-align: center;
}

.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}

@media (max-width: 1230px) {
	.container {
		padding: 0 30px;
	}
}

[class*='col-'] {	
	width: 100%;
    float: left;
    width: 100%;
}

@media (min-width: 768px) {
	.col-sm-1 {
	    width: calc(100% / 12 * 1);    
	}
	.col-sm-offset-1 {
		margin-left: calc(100% / 12 * 1);
	}

	.col-sm-2 {
	    width: calc(100% / 12 * 2);
	}
	.col-sm-offset-2 {
		margin-left: calc(100% / 12 * 2);
	}

	.col-sm-3 {
	    width: calc(100% / 12 * 3);
	}
	.col-sm-offset-3 {
		margin-left: calc(100% / 12 * 3);
	}

	.col-sm-4 {
	    width: calc(100% / 12 * 4);
	}
	.col-sm-offset-4 {
		margin-left: calc(100% / 12 * 4);
	}

	.col-sm-5 {
	    width: calc(100% / 12 * 5);
	}
	.col-sm-offset-5 {
		margin-left: calc(100% / 12 * 5);
	}

	.col-sm-6 {
	    width: 50%;
	}
	.col-sm-offset-6 {
		margin-left: calc(100% / 12 * 6);
	}

	.col-sm-7 {
	    width: calc(100% / 12 * 7);
	}

	.col-sm-8 {
	    width: calc(100% / 12 * 8);
	}

	.col-sm-9 {
	    width: calc(100% / 12 * 9);
	}

	.col-sm-10 {
	    width: calc(100% / 12 * 10); 
	}

	.col-sm-11 {
	    width: calc(100% / 12 * 11);
	}

	.col-sm-12 {
	    width: 100%;
	}
}

@media (min-width: 992px) {
	.col-md-1 {
	    width: calc(100% / 12 * 1);    
	}

	.col-md-2 {
	    width: calc(100% / 12 * 2);
	}
	.col-md-offset-2 {
		margin-left: calc(100% / 12 * 2);
	}

	.col-md-3 {
	    width: calc(100% / 12 * 3);
	}

	.col-md-4 {
	    width: calc(100% / 12 * 4);
	}

	.col-md-5 {
	    width: calc(100% / 12 * 5);
	}

	.col-md-6 {
	    width: 50%;
	}

	.col-md-7 {
	    width: calc(100% / 12 * 7);
	}

	.col-md-8 {
	    width: calc(100% / 12 * 8);
	}

	.col-md-9 {
	    width: calc(100% / 12 * 9);
	}

	.col-md-10 {
	    width: calc(100% / 12 * 10); 
	}

	.col-md-11 {
	    width: calc(100% / 12 * 11);
	}

	.col-md-12 {
	    width: 100%;
	}
}

@media (min-width: 1200px) {
	.col-lg-1 {
	    width: calc(100% / 12 * 1);    
	}

	.col-lg-2 {
	    width: calc(100% / 12 * 2);
	}
	.col-lg-offset-2 {
		margin-left: calc(100% / 12 * 2);
	}

	.col-lg-3 {
	    width: calc(100% / 12 * 3);
	}

	.col-lg-4 {
	    width: calc(100% / 12 * 4);
	}

	.col-lg-5 {
	    width: calc(100% / 12 * 5);
	}

	.col-lg-6 {
	    width: 50%;
	}

	.col-lg-7 {
	    width: calc(100% / 12 * 7);
	}

	.col-lg-8 {
	    width: calc(100% / 12 * 8);
	}

	.col-lg-9 {
	    width: calc(100% / 12 * 9);
	}

	.col-lg-10 {
	    width: calc(100% / 12 * 10); 
	}

	.col-lg-11 {
	    width: calc(100% / 12 * 11);
	}

	.col-lg-12 {
	    width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	[class*='col-'] {
		float: none;
	}
}