.mini-slider {
    overflow: hidden;
}

.mini-slider > ul {
    width: 10000px;
    list-style-type: none;
    overflow-y: hidden;
    transition: height 0.3s ease;
}

.mini-slider > ul > li {
    left: 0;
    float: left;
    position: relative;
    transition: left 0.5s ease;
}

.navigation {
    margin-top: 20px;
}

.navigation button {
    cursor: pointer;
    padding: 4px 15px;
}