body {
	font-family: 'Raleway', sans-serif;
	color: #6c7279;
}

.header {
	background: #31354f url(../img/main.png);
	background-size: cover;
	max-width: 100%;
    color: #fff;
}


.navbar img {
    margin-top: 45px;
    float: left;
}
.navbar nav {
	float: right;
}
.navbar .menu {
    list-style-type: none;
}
.navbar li {
    float: left;
}
.navbar li a {
    display: block;
    text-align: center;
    padding: 10px 15px;
    margin: 40px 0;
    color: #cbccd3;
    text-decoration: none;
    text-transform : uppercase;
    font-size: 12px;
}
.navbar li a:hover {
    background-color: #606377;
}

@media only screen and (max-width: 768px) {
    .navbar {
        text-align: center;
    }
    .navbar nav { 
        display: inline-block;
        float: none;
    }    
    .navbar li a{
        margin: 0;
    }
    .navbar img {        
        margin: auto;
        padding: 45px 0;
        float: none;
    }
}
@media screen and (max-width: 555px) {
    nav li {
        width: 33%;
        float: left;
        margin: 0;
    }
}

.header .main {
	padding: 100px 0;
}
.header .heading {
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}
.header .text {
    text-align: center;
    padding: 30px 0;
}
.header button {
	border: none;
	color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    width: 200px;
    padding: 12px 25px;
    margin: 30px 0;
    background: #e84545;
}

.sections ul {
    list-style-type: none;
    margin: 0;
    padding: 100px 0;
    overflow: hidden;
    text-align: center;
}
.sections .section {
    padding: 0 20px;
    margin: 50px 0px;
}
.sections .heading {
    text-transform : uppercase;
    font-weight: bold;
    margin: 15px 0;
    color: #000;
}

.photos ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.main-photo-item{
    width: 100%;
    background-size: cover;
}
@media only screen and (max-width: 768px) {
    .main-photo-item {
        height: 370px;
    }
}
@media only screen and (min-width: 768px) {
    .main-photo-item {
        height: 270px;
    }
}
@media only screen and (min-width: 991px) {
    .main-photo-item {
    height: 230px;
    }
}

.workers {
	margin: 100px 0 50px 0;
}
.workers ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.workers .worker {
	padding: 0 15px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
    .worker {
        text-align: center;
    }
}
.worker img {	
	max-width: 100%;
	max-height: 100%;
}
.worker .name {
	color: #000;
    font-weight: 600;
    font-size: 20px;
    margin: 20px 0 5px 0;
}
.worker .position {
	color: #e84545;
    text-transform : uppercase;	
    font-size: 12px;
    font-weight: 600;
}
.worker .about {
    margin: 20px 0 35px 0;
}
.worker a {
	border: 1px solid #e8ecee;
	color: #c6cacc;
	padding: 10px;
	margin-right: 5px;
}
.worker i {	
    height: 30px;
    width: 20px;
    text-align: center;
}

.table {
    display: table;
    width: 100%;
}
.table .table-col {
    display : table-cell;
    float: none;
    vertical-align: middle;
    position: relative;
}
.clients img {
	max-width: 100%;
	max-height: 100%;
}
  
.clients .client{
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}
@media only screen and (max-width: 768px) {
    .clients .col-sm-6:first-child  {
        display: none;
    }
}   

.quotes-slider {    
    background: #53354a;
}   
.qoutes {
    max-width: 675px;
    width: 100%;
    padding: 60px;
    color: #fff;
    margin: 0 auto;
}
.quote {    
    font-family: 'Cardo', serif;
    font-size: 25px;
}
.author {
    margin-top: 20px;
    font-size: 11px;
    text-transform : uppercase; 
    font-weight: bold;
}

.download {
	margin: 100px 30px;
}
.download .heading {
	color: #57595c;
	text-align: center;
	font-size: 28px;
    margin-bottom: 10px;

}
.download .description {
    text-transform : uppercase;	
    font-weight: 600;
    color: #000;
    text-align: center;
    font-size: 13px;
}
.download button {
	border: none;
	color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    width: 250px;
    padding: 12px 25px;
    margin-top: 30px;
    background: #e84545;
}

.footer {
	background: #3a3e64;
	color: #9d9fb2;
	padding: 40px 0 100px 0;
}
.footer .heading {	
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}
.footer .address {
	text-align: center;
	padding: 0 100px;
	margin-top: 15px;
}
.footer a {
	border: 2px solid #fff;
	color: #fff;
	padding: 10px;
	margin-right: 5px;
}
.footer i {	
    height: 30px;
    width: 20px;
    text-align: center;
    margin-top: 30px;
}
.footer .text {
	margin-top: 15px;
	text-align: center;
}
.downFooter {
	text-align: center;
	padding: 30px 0;
	background: #313454;
}
/* 
.footer 
.footer */